<meta charset="UTF-8">
<title>MyIot App</title>

<script src="/js/jquery.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<!--
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
-->

<style>
    body    { padding-top:0px; }
</style>