<h4>Login</h4>
<form method='post' action='/login' >
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="Email"><br>
    <label for="Password">Pasword:</label>
    <input type="password" id="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Login">
</form>